<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-paymentez" version="0.0.8" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Paymentez</name>
    <js-module name="Paymentez" src="www/paymentez.js">
        <clobbers target="cordova.plugins.paymentez" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="Paymentez">
                <param name="ios-package" value="PaymentezPlugin" />
            </feature>
        </config-file>
        <header-file src="src/ios/PaymentezPlugin.h" />
        <source-file src="src/ios/PaymentezPlugin.m" />
        <framework src="src/ios/PaymentezSDK.framework" custom="true" />
    </platform>
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="Paymentez">
                <param name="android-package" value="PaymentezPlugin"/>
            </feature>
        </config-file>
        <source-file src="src/android/PaymentezPlugin.java" target-dir="src/org/apache/cordova/plugin" />
        <framework src="src/android/paymentezsdk-1.0.4-sources.jar" custom="true" />
    </platform>
</plugin>